# Exclude exported CurseForge zip files
*.zip
!/instance/craftersmc.zip
!/config/**/*.zip
!/shaderpacks/**/*.zip
!/resourcepacks/**/*.zip
!/XaeroWorldMap/**/*.zip

# Exclude exported Modrinth modpacks
*.mrpackI

# Exclude config files that shouldn't be in source control
config/.puzzle_cache/**
config/headindex-cache/**
config/inventoryprofilesnext/**/lockSlots.txt
config/litematica/**
config/minihud/**
config/byg/backups/**
config/chunky/tasks/minecraft/**
config/TabTPS/userdata/**
dynmap/ids-by-ip.txt
config/bclib/cache.json
config/voicechat/username-cache.json
config/voicechat/voicechat-client.properties
config/voicechat/voicechat-volumes.properties
config/worldedit/.archive-unpack/**
config/worldedit/sessions/**
config/localrecipes.zip
config/loomrecipes.zip


# Exclude config files that contain secrets
config/FabricProxy-Lite.toml
config/simple-discord-bot.toml
config/NoChatReports/NCR-Encryption.json
