# Exclude exported CurseForge zip files
*.zip
!/config/**/*.zip
!/shaderpacks/**/*.zip
!/resourcepacks/**/*.zip
!/XaeroWorldMap/**/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude config files that shouldn't be in source control
config/.puzzle_cache/**
config/headindex-cache/**
config/inventoryprofilesnext/**/lockSlots.txt
config/litematica/**
config/minihud/**
