# Exclude exported CurseForge zip files
*.zip
!/instance/craftersmc.zip
!/config/**/*.zip
!/shaderpacks/**/*.zip
!/resourcepacks/**/*.zip
!/XaeroWorldMap/**/*.zip
!/world/datapacks/**/*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude config files that shouldn't be in source control
config/.puzzle_cache/**
config/bclib/cache.json
config/byg/backups/**
config/chunky/tasks/minecraft/**
config/headindex-cache/**
config/inventoryprofilesnext/**/lockSlots.txt
config/litematica/**
config/luckperms/translations/**
config/minihud/**
config/spark/tmp/**
config/spark/activity.json
config/TabTPS/userdata/**
config/voicechat/username-cache.json
config/voicechat/voicechat-client.properties
config/voicechat/voicechat-volumes.properties
config/worldedit/.archive-unpack/**
config/worldedit/sessions/**

config/localrecipes.zip
config/loomrecipes.zip

dynmap/ids-by-ip.txt


# Exclude config files that contain secrets
config/FabricProxy-Lite.toml
config/simple-discord-bot.toml
config/NoChatReports/NCR-Encryption.json
